@model DuHoc.Models.NewsPost

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "_Layout_Admin";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <h1>Details</h1>

            <div>
                <h4>NewsPost</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TimePosted)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TimePosted)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UserPosted)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserPosted)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Content)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Raw(Model.Content)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Images)
                    </dt>
                    <dd class="col-sm-10">
                        <img src="~/images/model.Images" width="300" height="188" class="attachment-full size-full" decoding="async" />
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.News_Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
