@using DuHoc.Models.ViewModels;
@model NewsListViewModel

@functions {
    public string RemoveHtmlTags(string html)
    {
        var doc = new HtmlAgilityPack.HtmlDocument();
        doc.LoadHtml(html);
        return System.Web.HttpUtility.HtmlDecode(doc.DocumentNode.InnerText);
    }
}


<div class="news-content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1>Tin tức du học</h1>
                @foreach (var item in Model.NewsPosts)
                {
                    <div class="news-item">
                        <div class="img">
                            <a href="#" class="scale-hover" data-wpel-link="internal" target="_self" rel="follow noopener noreferrer">
                                <img src="~/images/@item.Images" width="300" height="188" class="img-fluid" alt="News Image" />
                            </a>
                        </div>

                        <div class="desc-ct">
                            <h4 class="title hover-color">
                                <a style="text-decoration: none" href="@Url.Action("News_Details","NewsPosts", new { id = item.News_Id })"
                               target="_self" rel="follow noopener noreferrer">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </a>
                            </h4>
                            @{
                                string strippedContent = RemoveHtmlTags(item.Content);
                            }

                            <div class="desc">
                                <div id="content-@item.News_Id">
                                    @Html.Raw(strippedContent.Substring(0, 200))...
                                </div>
                            </div>
                            <div class="date">
                                <span class="text-muted">@Html.DisplayFor(modelItem => item.TimePosted)</span>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                }
                
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Danh mục tin tức</h3>
                        <ul class="list-unstyled">
                            <!--
                            <li><a href="#">Danh mục 1</a></li>
                            <li><a href="#">Danh mục 2</a></li>
                            <li><a href="#">Danh mục 3</a></li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 pb-1">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-3">
                    <li class="page-item">
                        <a class="page-link" href="/NewsPosts/News/?newsPage=@(Model.PagingInfo.CurrentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="d-none d-sm-inline">Previous</span>
                        </a>    
                    </li>

                    @for(int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                    {
                        <li class="page-item"><a class="page-link" href="/NewsPosts/News/?newsPage=@i">@i</a></li>
                    }
    
                    <li class="page-item">
                        <a class="page-link" href="/NewsPosts/News/?newsPage=@(Model.PagingInfo.CurrentPage + 1)" aria-label="Previous">
                            <span class="d-none d-sm-inline">Next</span>
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>

            </nav>

        </div>
    </div>
    <div class="col-sm-12" id="tabs_info">
        @**@<partial name="~/Views/Shared/_PartialComment.cshtml" />
    </div>
</div>

