@model IEnumerable<DuHoc.Models.Profile>

@foreach (var item in Model.Where(a => a.User.user_name == User.Identity.Name))
{
    <dl class="row">
        <dt class="col-sm-2">
            Tên:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => item.full_name)
        </dd>
        <dt class="col-sm-2">
            Ngày sinh: 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => item.birthdate)
        </dd>
        <dt class="col-sm-2">
            Số điện thoại: 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => item.phone_number)
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => item.email)
        </dd>
        <dt class="col-sm-2">
            Địa chỉ:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => item.address)
        </dd>      
    </dl>
    <a class="btn btn-sm btn btn-primary" asp-action="Profile_Edit" asp-route-id="@item.user_id">Cập nhật</a>
}

