<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DuHoc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/DuHoc.styles.css" asp-append-version="true" />
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
    <link rel="stylesheet" href="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/skins/ui/oxide/content.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DuHoc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-underline flex-grow-1">
                        <li class="nav-item">
                            <a id="home" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a id="university" class="nav-link" asp-area="" asp-controller="Universities" asp-action="University">Trường học</a>
                        </li>                        
                        <li class="nav-item">
                            <a id="news" class="nav-link" asp-area="" asp-controller="NewsPosts" asp-action="News">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a id="appointment" class="nav-link" asp-area="" asp-controller="Appointments" asp-action="Appointment">Đặt lịch</a>
                        </li>
                    </ul>
                    <div class="ml-auto">
                        <ul class="navbar-nav flex-grow-1">
                            @if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
                            {
                                <li class="nav-item float-end">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Admin">Admin Client</a>
                                </li>
                            }                           
                            
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <span>
                                        <a id="home" class="nav-link" asp-controller="Profiles" asp-action="Profile" class="text-dark">
                                            Xin chào, @User.Identity.Name
                                        </a>
                                    </span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Users" asp-action="Logout">Đăng xuất</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a id="login" class="nav-link" asp-area="" asp-controller="Users" asp-action="Login">Đăng nhập</a>
                                </li>
                            }
                        </ul>
                        
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="min-height:800px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div data-bg="https://gse.edu.vn/wp-content/uploads/2022/02/bg-ft.png" class="footer__wrapper bg-cover rocket-lazyload" style="">
            <div class="container">
                <div class="row gx-lg-5 gy-lg-0 gy-5">
                    <div class="col-lg-5">
                        <div class="footer-item">
                            <div class="about-description">
                                <p>
                                    Đơn vị tuyển sinh cùng 800 trường đại học hàng đầu thế giới.
                                </p>
                            </div>
                        </div>

                        
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class ="col-md-4">
                                <div class="footer-item">
                                    <p class="footer-title">Về chúng tôi</p>
                                    <ul class="list-menu">
                                        <li class="menu-item">
                                            <a href="#">Giới thiệu chung</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Chính sách bảo mật</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                           
                            <div class="col-md-4">
                                <div class="footer-item">
                                    <p class="footer-title">Quốc gia du học</p>
                                    <ul class="list-menu">
                                        <li class="menu-item">
                                            <a href="@Url.Action("Country_Details", "Countries", new { id = 5 })" target="_self" rel="follow noopener noreferrer">
                                                Du học Anh
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="@Url.Action("Country_Details", "Countries", new { id = 3 })" target="_self" rel="follow noopener noreferrer">
                                                Du học Mỹ
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="@Url.Action("Country_Details", "Countries", new { id = 4 })" target="_self" rel="follow noopener noreferrer">
                                                Du học Canada
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="@Url.Action("Country_Details", "Countries", new { id = 2 })" target="_self" rel="follow noopener noreferrer">
                                                Du học NewZealand
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="@Url.Action("Country_Details", "Countries", new { id = 1 })" target="_self" rel="follow noopener noreferrer">
                                                Du học Úc
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="footer-item">
                                    <p class="footer-title">Thông tin hỗ trợ</p>
                                    <ul class="list-menu">
                                        <li class="menu-item"><b>Địa chỉ: Hoàng Hoa Thám, p13 Q.Tân Bình, TP.HCM,Vietnam</b></li>
                                        <li class="menu-item"><b>Số điện thoại: 0334845347</b></li>
                                        <li class="menu-item"><b>Email: dangkychi@gmail.com</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="coppy-right">
                    <p> &copy;Copyright 2023</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    /*document.addEventListener("DOMContentLoaded", function () {
        var userMenu = document.querySelector(".user-menu");

        userMenu.addEventListener("mouseenter", function () {
            var userDropdown = this.querySelector(".user-dropdown");
            userDropdown.style.display = "block";
        });

        userMenu.addEventListener("mouseleave", function () {
            var userDropdown = this.querySelector(".user-dropdown");
            userDropdown.style.display = "none";
        });
    });

    window.DotNet = window.DotNet || {};

    window.DotNet.invokeMethodAsync = (assemblyName, methodName, ...args) => {
        return new Promise((resolve, reject) => {
            try {
                DotNet.invokeMethod(assemblyName, methodName, ...args);
                resolve();
            } catch (e) {
                reject(e);
            }
        });
    };
    */
    document.addEventListener("DOMContentLoaded", function () {
        var links = document.querySelectorAll('.nav-link');

        links.forEach(function (link) {
            link.addEventListener('click', function () {
                links.forEach(function (l) {
                    l.classList.remove('active');
                });
                this.classList.add('active');
            });
        });
    });

</script>


