
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Các quốc gia du học</h3>
        <ul class="list-unstyled">
            <li>
                <a href="@Url.Action("Country_Details", "Countries", new { id = 5 })" target="_self" rel="follow noopener noreferrer">
                    Du học Anh
                </a>
            </li>
            <li>
                <a href="@Url.Action("Country_Details", "Countries", new { id = 1 })" target="_self" rel="follow noopener noreferrer">
                    Du học Úc
                </a>
            </li>
            <li>
                <a href="@Url.Action("Country_Details", "Countries", new { id = 3 })" target="_self" rel="follow noopener noreferrer">
                    Du học Mỹ
                </a>
            </li>
            <li>
                <a href="@Url.Action("Country_Details", "Countries", new { id = 4 })" target="_self" rel="follow noopener noreferrer">
                    Du học Canada
                </a>
            </li>
            <li>
                <a href="@Url.Action("Country_Details", "Countries", new { id = 2 })" target="_self" rel="follow noopener noreferrer">
                    Du học NewZealand
                </a>
            </li>
        </ul>
    </div>
</div>