@model IEnumerable<DuHoc.Models.Course>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayPosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.University)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayPosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scholarship)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.University.Images)
                </td>              
            </tr>
        }
    </tbody>
</table>
