@model DuHoc.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayPosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayPosted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scholarship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scholarship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.University)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.University.Images)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Course_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
