@model DuHoc.Models.ParentComment

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "_Layout_Admin";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <h1>Details</h1>

            <div>
                <h4>ParentComment</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Text)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.user_name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.user_name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Comment_Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Comment_Date)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.user_id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.user_id)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.ParentComment_Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
